#!/usr/bin/make -f

export DH_GOPKG := github.com/vanilla-os/almost

%:
	dh $@ --buildsystem=golang --with=golang
	
override_dh_installinit:
	dh_installinit --name=almost
	dh_installinit --name=almost-update-mode