Package: almost
Version: 0.0.3
Architecture: all
Maintainer: Mirko Brombin <send@mirko.pm>
Installed-Size: 8865
Depends: golang-go, golang-github-spf13-cobra-dev, golang-github-spf13-viper-dev, golang-github-google-uuid-dev, golang-github-mattn-go-sqlite3-dev
Section: devel
Priority: extra
Homepage: https://github.com/vanilla-os/almost
Description: On-demand immutability for Vanilla OS.
